<div class="modal-overlay" [ngClass]="{'fechando': fechando}">
  <div class="modal-content" [ngClass]="{'fechando': fechando}">
    <div class="modal-header">
      <h2>{{ tarefa ? 'Atualizar Tarefa' : 'Criar Nova Tarefa' }}</h2>
    </div>

    <hr class="linha1" />

    <div class="modal-body">
      <form [formGroup]="formTarefa" (ngSubmit)="salvarTarefa()">

        <section class="info-bloco">
          <h4>📝 Informações</h4>

          <label>Título</label>
          <input type="text" formControlName="titulo" placeholder="Digite o título" />

          <label>Data de Vencimento</label>
          <input type="date" formControlName="dataVencimento" [min]="hoje"
        />


          <label>Descrição</label>
          <textarea rows="3" formControlName="descricao" placeholder="Detalhes da tarefa"></textarea>

          <label>Membros (separados por vírgula)</label>
          <input type="text" formControlName="membros" placeholder="Ex: João, Maria" />

          <label>Status</label>
          <select formControlName="statusExecucao">
            <option value="A Fazer">A Fazer</option>
            <option value="Em Atraso">Em Atraso</option>
            <option value="Em Andamento">Em Andamento</option>
            <option value="Concluido">Concluído</option>
          </select>

          <label>Prioridade</label>
          <select formControlName="flag">
            <option value="Normal">Normal</option>
            <option value="Pendente">Pendente</option>
            <option value="Urgente">Urgente</option>
            <option value="Atrasado">Atrasado</option>
          </select>
        </section>

        <div class="modal-footer">
          <button type="button" class="btn-fechar" (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn-editar" [disabled]="formTarefa.invalid">
            {{ tarefa ? 'Atualizar' : 'Salvar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>