html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa 100% da altura da tela */
}

main {
  flex: 1; /* empurra o footer para baixo */
}
