<div class="modal-overlay" [ngClass]="{'fechando': fechando}">
  <div class="modal-content" [ngClass]="{'fechando': fechando}">

    <button class="btn-fechar-topo" (click)="fecharModal()">&times;</button>

    <div class="modal-header">
      <h2>{{ tarefa?.titulo }}</h2>
    </div>

    <hr class="linha1" />

    <div class="modal-body">
      <!-- Informações da tarefa -->
      <section class="info-bloco">
        <h4>📅 Informações</h4>
        <p><strong>Vencimento:</strong> {{ tarefa?.dataVencimento | date:'dd/MM/yyyy' }}</p>
        <p><strong>Status:</strong>
          <span class="status" [ngClass]="tarefaStatusClass(tarefa?.flag)">
            {{ tarefa?.statusExecucao }}
          </span>
        </p>
        <p *ngIf="tarefa?.flag">
          <strong>⚑ Flag:</strong>
          <span class="status" [ngClass]="tarefaStatusClass(tarefa?.flag)">
            {{ tarefa?.flag }}
          </span>
        </p>
      </section>

      <!-- Descrição -->
      <section class="info-bloco">
        <h4>📝 Descrição</h4>
        <p>{{ tarefa?.descricao || 'Sem descrição' }}</p>
      </section>
    </div>

    <hr class="linha2" />

    <div class="modal-footer">
      <button class="btn-concluir" *ngIf="tarefa?.statusExecucao !== StatusExecucao.Concluido" (click)="concluirTarefa()">
        Concluir <i class="fas fa-check"></i>
      </button>

      <button class="btn-editar" (click)="editarTarefa()">
        Editar informações <i class="fas fa-edit"></i>
      </button>
    </div>

    <button class="btn-excluir" (click)="excluirTarefa()">
      Excluir <i class="fas fa-trash"></i>
    </button>

  </div>
</div>
